/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ******************************************************* 
                      CUSTOM CSS
******************************************************* */


/* Changing the default font to Montserrat */
html{
    font-family: 'Montserrat', sans-serif;
    color: #333131;
}

/* Modular Scale https://www.modularscale.com/?1&rem&1.5 */
h1{
    font-size: 5.063rem;
}
h2{
    font-size: 3.375rem;
}
h3{
    font-size: 2.25rem;
}
h4{
    font-size: 1.5rem;
}
h5{
    font-size: 1rem;
}
p{
    margin: .5em 0;
}

.header{
    display: grid;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.header-logo{
    width: 100px;
    height: auto;
    display: block;
}

.section{
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 600px));
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 750px;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 115px 1fr auto;
    height: 100%;
    justify-content: center;
    padding: 0 1rem;
    background-color: #f7f7ff;
    background-image: url(/images/bg-image/scooter.svg);
    background-repeat: no-repeat;
    background-position: center 40%;
    background-size: 50%;
}

/* designing the box for the apply now form, adding drop shadow to it */
.apply-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    padding: 1.5rem;
    background: #f7f7ff;
    border-radius: 15px;
    box-shadow: 4px 4px 8px 2px#333131 ;
}

.apply-form input{
    padding: 0.5rem;
    margin: 0.25rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.05);
}

.apply-form h4,h3{
    font-weight: bolder;
}

label .form-agree{
    margin: 0.5rem;
}

/* designing the button to match mockup */
.apply-button{
    color: #333131;
    background: #57eeab;
    font-weight: 600;
    font-size: x-large;
    text-transform: uppercase;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}

.apply-form a{
    text-decoration: none;
    color: #ff8480;
}

.footer{
    background-color: #fffd8c;
    /* negative number on margin to allow the footer to stretch completely across the screen */
    margin: 0 -1rem;
    padding: 2rem 1rem;
    justify-content: center;
}

/* designing footer button to match mockup */
.footer button{
    font-weight: 800;
    font-size: medium;
    color: #f7f7ff;
    background: #ff8480;
    text-transform: uppercase;
    padding: 0.25rem;
    border: none;
    border-radius: 5px;
    margin: 0.25rem;
}


.socials{
    display: flex;
    flex-grow: 1;
    width: 100%;
    max-width: 500px;
}

.social{
    margin: 1rem;
}

.calculate-form input{
    padding: 0.5rem;
    margin: 0.25rem;
    border: none;
    background-color: #f7f7ff;
}

.calculate-form{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

/* changes the footer form from row to column once in mobile layout */
@media (max-width: 679px){
    .calculate-form, .form{
        flex-direction: column;
    }
    .calculate-form input{
        width: 40%
    }
}

/* creating a one column layout for the mobile */
@media (max-width: 1023px){
     .section{
        grid-template-columns: 1fr;
        grid-gap: 0;
        justify-items: center;
        align-content: space-between;
        min-height: 1000px;
    }
    .socials{
        justify-content: space-evenly;
    }
}

/* allowing the content within .section to stay centered at 1500px wide */
@media (min-width: 1023px){
    .section{
        max-width: 1500px;
        margin: 0 auto;
    }
}

@media (min-width: 679px){
    .calculate-form button{
        width: 25%;
    }
}