/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ******************************************************* 
                      CUSTOM CSS
******************************************************* */

/* Changing the default font to Montserrat */
html{
    font-family: 'Raleway', sans-serif;
    color: #3c3b3a;
}

body{
    line-height: 1.5;
    margin: 0;
}
  
*,
*::after,
*::before {
    box-sizing: inherit;
    line-height: inherit;
}
  
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
  
img{
    width: 100%;
    height: 200px; 
}

.discover-college img {
    
    object-fit: cover;
}

.entertainment-banner img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
  
.services img{
    display: none;
}

.fitness-text img{
    display: none;
}

.climbing-text img{
    display: none;
}

a,
a:link,
a:visited {
    color: inherit;
}
  
a:hover,
a:focus {
    color: #00ADD8;
}
  
h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    /* top left-right bottom */
    margin: 1em 0 0.5em;
}
  
/* Modular Scale https://www.modularscale.com/?1&rem&1.5 */
h1 {
    font-size: 5.063rem;
}
  
h2 {
    font-size: 3.375rem;
}
  
h3 {
    font-size: 2.25rem;
}
  
h4 {
    font-size: 1.5rem;
}
  
h5 {
    font-size: 1rem;
}
  
p {
    margin: 1em 0;
}
  
.container {
    max-width: 1500px;
    margin: 0 auto;
}

nav{
    background-color: #3c3b3a;
}

/* matching navigation to mockup, using flex to easily change from vertical to horizontal */
.navigation{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navigation li{
    text-align: center;
    color: #f2f2f2;
    margin: 0 1rem 0 1rem;
    max-width: 88.04px;
}

.navigation a, .navigation a:link, .navigation a:visited{
    display: block;
    padding: 1em 0;
    text-decoration: none;
}
.navigation a:hover, .navigation a:focus, .navigation a.current{
    color: #f2f2f2;
    font-weight: bold;
}

.banner-text{
    margin: 1rem;
    text-align: center;
}

.banner-text p{
    text-align: center;
}

/* creating grid system for the facility activity list */
header .banner ul{
    display: grid;
    gap: 1em;
    align-items: center;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
}

.banner li{
    display: grid;
    color: #26a682;
    text-align: center;
}

.banner li i{
    color: #3c3b3a;
    font-size: 2rem;
    text-align: center;
}

/* designing the apply button to match mockup*/
.start-button{
    display: block;
    color: #f2f2f2;
    background: #26a682;
    font-weight: 600;
    font-size: 2rem;
    padding: 0.25rem 3rem 0.25rem 3rem;
    margin: 1.5rem;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 10px 10px 1px#3c3b3a ;
    margin-left: auto;
    margin-right: auto;
}

/* Creating hover animation for interactable buttons */
.start-button:hover {
    animation: hover 0.7s infinite ease-in-out;
    transform: scale(0.6);
    transition: 0.3s;
}

.learn-button:hover {
    animation: hover 0.7s infinite ease-in-out;
    transform: scale(0.6);
    transition: 0.3s;
}

@keyframes hover {
    0%, 100%{
      transform: scale(1); 
    }
    50%{
      transform: scale(1.05);
    }
}

/* Creating fade-in animation for main headers of website */
.banner-text h1{
    animation: fade-in 0.7s linear;
}

@keyframes fade-in {
    0%{
        transform: scale(.5);
        opacity: 0%;
    }
    50%{
        transform: scale(0.75);
        opacity: 45%;
    }
    100%{
        transform: scale(1);
        opacity: 100%;
    }
}


.about-banner{
    color: #f2f2f2;
    padding: 1rem;
    margin: 2rem 0rem;
    margin-bottom: -1rem;
    text-align: center;
    background: url(../images/about.jpg) center no-repeat;
    background-size:cover;
    /* using this line of code to create the colour on top of the background image */
    box-shadow: inset 0 0 0 1000px rgba(38, 166, 130, 0.4);
}

.about-text{
    background-color: #f2f2f2;
    padding: 1rem;
}

.about-text h2{
    font-style: italic;
}

.services-banner{
    color: #f2f2f2;
    padding: 1rem;
    margin: 2rem 0rem;
    text-align: center;
    background: url(../images/services.jpg) center no-repeat;
    background-size:cover;
    margin-top: -1rem;
    /* using this line of code to create the colour on top of the background image */
    box-shadow: inset 0 0 0 1000px rgba(38, 166, 130, 0.4);
}

.services-text{
    padding: 1rem;
}

.fitness-text{
    padding: 1rem;
}

.competitive-text{
    background-color: #f2f2f2;
    padding: 1rem;
}

.climbing-text{
    padding: 1rem;
    background-color: #f2f2f2;
}

.subscribe{
    color: #f2f2f2;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #3c3b3a;
}

.subscribe p{
    text-align: center;
}

.subscribe-button{
    display: block;
    color: #f2f2f2;
    background: #26a682;
    font-weight: 600;
    font-size: 2rem;
    padding: 0.25rem 3rem 0.25rem 3rem;
    margin: 1.5rem;
    border: none;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

.title{
    font-size: 2rem;
    margin: 1rem;
}

.subtitle{
    color: #26a682;
    font-size: 1.5rem;
    margin: 1rem;
}

p{
    margin: 1rem;
    text-align: left;
}

/* designing the learn button to match mockup*/
.learn-button{
    color: #f2f2f2;
    background: #26a682;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0.25rem 2rem 0.25rem 2rem;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 8px 10px 1px#3c3b3a;
    float: right;
    margin: 1rem;
}

section.quote .container{
    margin-top: 7rem;
    padding: 1rem;
    background-color: #3c3b3a; 
}

.quote p,h3,h4{
    color: #f2f2f2;
    text-align: center;
    line-height: 2rem;
    margin: 1rem;
}

.quote img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 175px;
    height: auto;
    border-radius: 50%;
    border: solid 5px #f2f2f2;
}



.thanks h2{
    text-align: center;
    margin: 5rem;
}

.thanks ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.thanks img{
    width: 25%;
    height: auto;
}

.apply-form{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    margin-bottom: 4rem;
    padding: 1.5rem;
    background: #26a682;
    border-radius: 20px;
    box-shadow: 4px 4px 8px 2px#333131 ;
}

.apply-form input{
    padding: 0.5rem;
    margin: 0.25rem;
    border-radius: 25px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.apply-button{
    display: block;
    color: #f2f2f2;
    background: #3c3b3a;
    font-weight: 600;
    font-size: 1.75rem;
    padding: 0rem 3rem 0rem 3rem;
    margin: 1rem;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 6px 2px 0.5px#3c3b3a ;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

form p{
    margin: 0;
    font-size: 0.9rem;
    color: #f2f2f2;
}

.location-text h2{
    margin: 1rem;
}

.location-text{
    margin: 1rem;
}

.map iframe{
    width: 100%;
    margin-bottom: -8rem;
}

footer{
    margin-top: 7.5rem;
    background-color: #3c3b3a;
    color: #f2f2f2;
}

footer p{
    font-size: 1.75rem;
    font-weight: 500;
    text-align: center;
    padding-top: 4rem;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    font-size: 1.75rem;
    padding-bottom: 4rem;
}

@media (min-width: 768px){
    .navigation{
        display: flex;
        flex-direction: row;
        align-content: space-between;
        height: 75px;
        width: fit-content;
    }

    header .banner ul{
        align-items: center;
        grid-template-columns: repeat(4, 4fr);
    }
    
    .banner-img{
        overflow: hidden;
        height: 200px;
    }

    .quote .container{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
        "photo paragraph"
        "text paragraph";
        align-items: center;
    }

    .dijanelle{
        grid-area: photo;
    }

    .dijanelle-text{
        grid-area: text;
    }

    .quote p{
        grid-area: paragraph;
    }

    .quote 

    .subscribe .container{
        display: grid;
        grid-template-columns: repeat(2, auto);
        align-items: center;
    }

    .services img{
        display: contents;
    }
}

@media (min-width: 1500px){

    /* .banner{
        display: grid;
    grid-template-columns: repeat(2, minmax(400px, 600px));
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 750px;
    } */

    .about-text{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 10rem;
    }

    .quote .container{
        grid-template-columns: repeat(3, auto);
        grid-template-areas: 
        "photo text paragraph";
        align-items: center;
    }

    .dijanelle{
        grid-area: photo;
    }

    .dijanelle-text{
        grid-area: text;
    }

    .quote p{
        grid-area: paragraph;
    }

    .discover-college{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        background-color: #f2f2f2;
        margin-bottom: -7.5rem;
        align-content: center;
    }

    .discover-college img{
        width: 90%;
        height: auto;
        margin: 5rem;
    }

    .discover-entertainment{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        margin-bottom: -7.5rem;
        align-content: center;
    }

    .entertainment-banner img{
        width: 90%;
        height: auto;
        margin: 5rem;
    }

    .banner-text{
        justify-content: center;
    }
}