html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ******************************************************* 
                      CUSTOM CSS
******************************************************* */

html{
    font-family: 'Open Sans', sans-serif;
    color: #222;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

body{
    line-height: 1.5;
}

a,a:link,a:visited{
    color:inherit;
}
a:hover,a:focus{
    background-color: #c78c06;
}

h1,h2,h3,h4,h5{
    font-weight: bold;
    /* top left-right bottom */
    margin: 1em 0 0.5em;
}

/* Modular Scale https://www.modularscale.com/?1&rem&1.5 */
h1{
    font-size: 5.063rem;
}
h2{
    font-size: 3.375rem;
}
h3{
    font-size: 2.25rem;
}
h4{
    font-size: 1.5rem;
}
h5{
    font-size: 1rem;
}

p{
    margin: .5em 0;
}

/* navigation */

.site-header{
    background-color: #222;
}

.navigation li{
    text-align: center;
    color: #c78c06;
    margin: 0 1em 0 1em;
}

.navigation li:nth-child(1){
    text-align: left;
    background-color: #c78c06;
    margin: 0 1em 0 1em;
}

.navigation a, .navigation a:link, .navigation a:visited{
    display: block;
    padding: 1em 0;
    text-decoration: none;
}
.navigation a:hover, .navigation a:focus, .navigation a.current{
    background-color:  #c78c06;
    color: #222;
}

.search input{
    margin-top: 1em;
	width: 96%;
	padding: 0.7em 0em 0.7em 0em;
    border:1px solid rgba(214, 214, 214, 0.5);
    display: inline;
}

.search button .search-btn{
    display: inline;
}

/* banner */

.banner .banner-text{
    background-color: rgba(0,0,0,0.7);
    text-align: left;
    color: white;
    padding: 0 1em 0 1em;
    position: absolute;
}

.banner .btn{
    text-decoration:none;
    display: inline-block;
    padding: 20px;
    background-color: #c78c06;
    color: #222;
}

.btn{
    text-decoration:none;
    display: inline-block;
    padding: 20px;
    margin-bottom: 1em;

}

.btn:hover,.btn:focus{
    background-color:#c78c06;
    color: inherit;
}

/* about us */

.about .container{
    background-color: #ffe6ac;
}

.about-image{
    padding: 1em;
}

.about-text



